<div class="h-100 w-100 bg-dark">
<div class="cover-container d-flex p-3 mx-auto flex-column bg-dark text-white text-center">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">TrakTalk</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
  
    <main class="px-3 w-50 mx-auto">
      <h1>Find new music and new friends!</h1>
      <p class="lead">TrakTalk is a platform to discover new music while simultaneously giving you a chatroom to talk about the song you're listening to with others.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
      <!-- <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p> -->
    </footer>
  </div>
</div>
